.notice-green {
    color: #fff;
    background-color: #0dad50;
    margin: 3px 0;
}
.notice-red {
    color: #fff;
    background-color: #e74c3c;
    margin: 3px 0;
}
.notice-blue {
    color: #fff;
    background-color: #2865fd;
    margin: 3px 0;
}
.notice-white{
    color: #555555;
    background-color: #ffffff;
    margin: 3px 0;
}

/*New Admin Menu Icon*/
#adminmenu #menu-posts-notice div.wp-menu-image:before {
    content: "\f488";
}

.misc-pub-section .notice-* input {
    margin-right: 5px;
    vertical-align: text-bottom;
}
