/**
 * Copy from Nifty Modal Window Effects
 * @link http://tympanus.net/codrops/?p=15313
 */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'codropsicons';
    src: url('../fonts/codropsicons/codropsicons.eot');
    src: url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.notice-class *, #GBWindow * {
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

.noticeContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/**
    Duyuruyu kapatmak için kullanılan buton sınıfı
 */
/*.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;}

.close:hover,
.close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity=40);
}*/
/**
 CSS for bar mode Notices
 */
.bar {
    position: static;
    width: 100%;
    margin-bottom: 2px;
    min-height: 30px;
    display: inline-block;
}

.bar h4 {
    clear: left;
    float: left;
    margin-right: 10px;
}

.bar p {
    padding-top: 5px;
    display: inline-block;
}

/**
 Css for window mode Notices
 */
.windowBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.85);
}

#windowBox {
    background: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 2147483647;
    margin: 0 auto;
    padding: 0;
    max-height: 95%;
    position: relative;
    width: 45%;
}

.window {
    overflow: auto;
    min-height: 50px;
    min-width: 200px;
    z-index: 2147483646;
    display: none;
    width: 100%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    height: auto;
    text-align: left;
    background-color: #fff;
    color: #000;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.window-content {
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
}

.window-content h4 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
}

.window-content > div {
    padding: 15px 40px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;

    color: #000;
    background: #fff;
}

.window-content > div p {
    margin: 0;
    padding: 10px 0;
}

.window-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.window-content > div ul li {
    padding: 5px 0;
}

.window-content button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 0 5px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    display: block;
    margin: 0;
    font-size: 0.9em;
    /*renk*/
    background: transparent;
    color: #000;
}

.window-content button:hover {
    background: #a4a4a4;
    color: #fff;
}

.window-nav {
    width: 60px;
}

.window-nav span {
    background-image: url("../fancybox_sprite.png");
    cursor: pointer;
    height: 34px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    width: 36px;
    z-index: 8040;
    opacity: 0.5;
}

.window-nav span:hover {
    opacity: 1;
}

.window-nav-previous span {
    background-position: 0 -36px;
    left: -50px;
}

.window-nav-next span {
    background-position: 0 -72px;
    right: -50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#closeDialog .window-content button {
    position: static;
    float: left;
    border: none;
    padding: 0.6em 1.2em;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    display: block;
    margin: 20px 5px;
    font-size: 0.8em;
    /* renk */
    background: #ebebeb;
    color: #333;
}

.window-content button:hover {
    background: #a4a4a4;
    color: #555;
}

.noborder, .noborder * {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.noborder .close {
    position: absolute;
    right: -20px;
    opacity: 1;
    color: #fff;
}

/*todo silinecek */
#GBWindow {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2147483645;
}