/**
 Css for window mode Notices
 */
.windowBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2147483645;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#windowBox {
    background: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 2147483647;
    margin: 0 auto;
    padding: 0;
    position: fixed;

}

#windowBox.xLarge {
    width: 90%;
}

#windowBox.large {
    width: 75%;
}

#windowBox.medium {
    width: 50%;
}

#windowBox.small {
    width: 35%;
}

@media screen and (max-width: 360px) {
    #windowBox.small {
        width: 60%;
    }

    #windowBox.medium {
        width: 60%;
    }
}

.window {
    overflow: auto;
    min-width: 200px;
    z-index: 2147483646;
    display: none;
    width: auto;
    height: auto;
    text-align: left;
    /*font-family: 'Lato', Calibri, Arial, sans-serif;*/
    font-size: 100%;
    padding: 0;
    margin: 0;
    min-height: 100px;
}

.window-content {
    position: relative;
    margin: 0 auto;
    height: auto;
}

.window-content h4 {
    margin: 0;
    padding: 0.4em;
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px 3px 0 0;
}

.window-content > div {
    padding: 15px 40px;
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    height: auto;
}

.window-content > div p {
    margin: 0;
    padding: 10px 0;
    font-size: 1em;
}

.window-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.window-content > div ul li {
    padding: 5px 0;
}

.window-content button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 0 5px;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    display: block;
    margin: 0;
    font-size: 0.9em;
}

.window-footer {
    position: relative;
    margin: 0 auto;
}

.window-footer progress {
    width: 100%;
    height: 5px;
    margin: 2px 0;
}

.window-footer button {
    border: none;
    padding: 0.6em 1.2em;
    /*font-family: 'Lato', Calibri, Arial, sans-serif;*/
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    margin: 20px 5px;
    font-size: 0.8em;
    /*----------*/
    transition: background-color 0.3s linear 0s;
}

.window-nav {
    width: 60px;
}

.window-nav span {
    background-image: url("../fancybox_sprite.png");
    cursor: pointer;
    height: 34px;
    margin-top: -18px;
    position: absolute;
    top: 50%;
    width: 36px;
    z-index: 8040;
    opacity: 0.5;
}

.window-nav span:hover {
    opacity: 1;
}

.window-nav-previous span {
    background-position: 0 -36px;
    left: -50px;
}

.window-nav-next span {
    background-position: 0 -72px;
    right: -50px;
}


/* Colors*/
/* White */
.windowBackground.notice-white {
    background-color: rgba(0, 0, 0, 0.85);
}

.notice-white .window-content {
    color: #000;
    background: #fff;
}
.notice-white .bar-content {
    color: #000;
    background: #fff;
}

.notice-white .window-content h4 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.1);
    color: #333;
}

.notice-white .window-content button {
    background: transparent;
    color: #000;
}

.notice-white .window-content button:hover {
    background: #a4a4a4;
    color: #fff;
}

.notice-white .window-footer {
    color: #000;
    background: #fff;
}

/* Progess bar background color*/
.notice-white .window-footer progress, /* Firefox  */
.notice-white .window-footer progress[role][aria-valuenow], /* Polyfill */
.notice-white .window-footer progress::-webkit-progress-bar { /* Chrome */
    background-color: whiteSmoke !important; /* !important is needed by the polyfill */
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5) inset;
}

/* progress bar value color*/
/* IE10 */
.notice-white .window-footer progress {
    color: #333;
}

/* Firefox */
.notice-white .window-footer progress::-moz-progress-bar {
    background: #333;
}

/* Chrome */
.notice-white .window-footer progress::-webkit-progress-value {
    background: #333;
}

/* Polyfill */
.notice-white .window-footer progress[aria-valuenow]:before {
    background: #333;
}

/* End of progress bar value color*/
.notice-white .window-footer button {
    background: #ebebeb;
    color: #333;
}

.notice-white .window-footer button:hover {
    background: #a4a4a4;
    color: #555;
}

.notice-white .noborder .close {
    opacity: 1;
    color: #fff;
}

/* End of White*/
/* Red */
.windowBackground.notice-red {
    background: rgba(143, 27, 15, 0.8);
}

.notice-red .window-content {
    color: #fff;
    background: #e74c3c;
}

.notice-red .window-content h4 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.1);
    color: #FFF;
}

.notice-red .window-content button {
    background: #c0392b;
    color: #fff;
}

.notice-red .window-content button:hover {
    background: #A5281B;
}

.notice-red .window-footer {
    color: #fff;
    background: #e74c3c;
}

/* Progess bar background color*/
.notice-red .window-footer progress, /* Firefox  */
.notice-red .window-footer progress[role][aria-valuenow], /* Polyfill */
.notice-red .window-footer progress::-webkit-progress-bar { /* Chrome */
    background-color: whiteSmoke !important; /* !important is needed by the polyfill */
    border-radius: 3px;
}

/* progress bar value color*/
/* IE10 */
.notice-red .window-footer progress {
    color: #A5281B;
}

/* Firefox */
.notice-red .window-footer progress::-moz-progress-bar {
    background: #A5281B;
}

/* Chrome */
.notice-red .window-footer progress::-webkit-progress-value {
    background: #A5281B;
}

/* Polyfill */
.notice-red .window-footer progress[aria-valuenow]:before {
    background: #A5281B;
}

/* End of progress bar value color*/

.notice-red .noborder .close {
    opacity: 1;
    color: #fff;
}

/* End of Red */
/* Green */
.windowBackground.notice-green {
    background: rgba(7, 120, 16, 0.5);
}

.notice-green .window-content {
    color: #fff;
    background: #0dad50;
}

.notice-green .window-content h4 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.1);
    color: #FFF;
}

.notice-green .window-content button {
    background: #0dad50;
    color: #fff;
}

.notice-green .window-content button:hover {
    background: #0a9042;
}

.notice-green .window-footer {
    color: #fff;
    background: #0dad50;
}

/* Progess bar background color*/
.notice-green .window-footer progress, /* Firefox  */
.notice-green .window-footer progress[role][aria-valuenow], /* Polyfill */
.notice-green .window-footer progress::-webkit-progress-bar { /* Chrome */
    background-color: whiteSmoke !important; /* !important is needed by the polyfill */
    border-radius: 3px;
}

/* progress bar value color*/
/* IE10 */
.notice-green .window-footer progress {
    color: #0a9042;
}

/* Firefox */
.notice-green .window-footer progress::-moz-progress-bar {
    background: #0a9042;
}

/* Chrome */
.notice-green .window-footer progress::-webkit-progress-value {
    background: #0a9042;
}

/* Polyfill */
.notice-green .window-footer progress[aria-valuenow]:before {
    background: #0a9042;
}

/* End of progress bar value color*/

.notice-green .noborder .close {
    opacity: 1;
    color: #fff;
}

/* End of Green */
/* Blue */
.windowBackground.notice-blue {
    background: rgba(0, 120, 183, 0.6);
}

.notice-blue .window-content {
    color: #fff;
    background: #2865fd;
}

.notice-blue .window-content h4 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.1);
    color: #FFF;
}

.notice-blue .window-content button {
    background: #2865fd;
    color: #fff;
}

.notice-blue .window-content button:hover {
    background: #164dd6;
}

.notice-blue .window-footer {
    color: #fff;
    background: #2865fd;
}

/* Progess bar background color*/
.notice-blue .window-footer progress, /* Firefox  */
.notice-blue .window-footer progress[role][aria-valuenow], /* Polyfill */
.notice-blue .window-footer progress::-webkit-progress-bar { /* Chrome */
    background-color: whiteSmoke !important; /* !important is needed by the polyfill */
    border-radius: 3px;
}

/* progress bar value color*/
/* IE10 */
.notice-blue .window-footer progress {
    color: #164dd6;
}

/* Firefox */
.notice-blue .window-footer progress::-moz-progress-bar {
    background: #164dd6;
}

/* Chrome */
.notice-blue .window-footer progress::-webkit-progress-value {
    background: #164dd6;
}

/* Polyfill */
.notice-blue .window-footer progress[aria-valuenow]:before {
    background: #164dd6;
}

/* End of progress bar value color*/

.notice-blue .noborder .close {
    opacity: 1;
    color: #fff;
}

/* End of Blue */

/* End of Colors */

.noborder {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.noborder .window-content > div {
    padding: 0;
    margin: 0;
}

.noborder .window-content > div p {
    padding: 0;
    margin: 0;
}

.noborder .window-footer {
    margin: 0;
    padding: 0;
    line-height: 0;
}

.noborder .close {
    font-weight: bold;
    font-size: 110%;
}